[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
django-rest-framework = "*"
requests = "*"
django-cors-headers = "*"
celery = "*"
redis = "*"
reportlab = "*"
pyyaml = "*"
django-rest-passwordreset = "*"
schema = "*"
django-celery = "*"

[requires]
python_version = "3.6"
